{% extends 'AddData.html'%}
{% block title %}
새 신발 추가
{%endblock%}
{%block content%}
<div class="container-fluid">
    <form action="{%url 'DataBase:ShoseAdd'%}" method="POST" class="my-3">
    {% csrf_token %}
        <div class="row">
            <div class="col-md mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" plaseholder="shose-code-name" name="code" id="Shosecode">
                    <label for="Shosecode" class="form-label" >신발코드명</label>
                </div>
            </div>
            <div class="col-md mb-3">
                <div class="form-floationg">
                    <input type="text" class="form-control" id="Shosename" name="name" placeholder="신발이름">
                    <label for="Shosename" class="form-label" >신발이름</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="Shosebrand" name="brand" placeholder="신발브랜드">
                    <label for="Shosebrand" class="form-label" >브랜드</label>
                </div>
            </div>
            <div class="col-md mb-3">
                <div class="form-floating">
                    <input type="number" class="form-control" id="Shoseprice" name="price" placeholder="50000">
                    <label for="Shoseprice" class="form-label" >가격</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md mb-3">
                <div class="form-floating">
                    <textarea class="form-control" id="Shosecolor" name="color" style="height: 100px" placeholder="색상 (띄어쓰기로 구분됩니다.)"></textarea>
                    <label for="Shosecolor" class="form-label" >색상</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md mb-3">
                <div class="form-group">
                    <lavel for="Shoseimage" class="form-label">이미지</label>
                    <input type="file" id="Shoseimage" name="file[]"class="form-control">
                    <input type="hidden" name="url" id="url">
                    <button type="button" class="btn btn-outline-primary" onclick="uploadimage()">업로드</button>
                </div>
            </div>
        </div>
        </div class="row">
            <div class="col-md mb-3">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="등록">
                </div>
            </div>
        </div>
    </form>
</div>


<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
<script >
    var firebaseConfig = {
    apiKey: "AIzaSyBbj2fEGcpTvKkr1j4Rtft5D_VNMx3ljSo",
    authDomain: "shoes-finder-project.firebaseapp.com",
    databaseURL: "https://shoes-finder-project-default-rtdb.firebaseio.com",
    projectId: "shoes-finder-project",
    storageBucket: "shoes-finder-project.appspot.com",
    messagingSenderId: "548574407922",
    appId: "1:548574407922:web:8cfec17eb91e91de28f46b",
    measurementId: "G-3KG6FLV481"
    };
    firebase.initializeApp(firebaseConfig);
    funcation uploadimage(){
        var storage = firebase.storage();
        var files = document.getElementById("Shoseimage").file[0];
        var names = document.getElementById("Shosename").value;
        var storageRef = storage.ref();
        var uploadTask = storageRef.child("Shose_Image/"+names).put(files);
        uploadTask.on('state_changed', funcation(snapshot)){
            console.log("업로드 완료");
        },
        funcation(error) {

        }
        funcation(){
            var downloadURL = uploadTask.snapshot.downloadURL;
            document.getElementById("url").value = downloadURL;
            console.log("URL 획득",downloadURL)
            alert("파일 업로드 성공");
        }
    }
    
</script>

{%endblock%}