{% extends 'DelData.html'%}
{%block title%}신발 {{name}}의 후기 삭제{%endblock%}
{% if messages %}
    {%for message in messages%}
        {{message.tags}}
        {{message.message}}
    {% endfor %}
{% endif %}
{%block content%}
<div class="container-fluid">
    <form action="{% url 'DataBase:CommentDelete' name timestamp %}" method="POST" class"my-3">
    {% csrf_token %}
        <div class="row">
            <div class="col-md mb-3">
                <div class="alert alert-danger">정말로 해당 후기를 삭제하시겠습니까?</div>
                <a href="{% url 'DataBase:ShoseCommentView' name timestamp %}" class="btn btn-primary">취소</a>
                <input type="submit" value="삭제" class="btn btn-danger">
            </div>
        </div>
    </form>

</div>
{%endblock%}